﻿<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome to audit page!!</p>
<h3>All registered users:</h3>

<div style="text-align:center">
  <table class="table" style="width: 100%;">
    <thead>
      <tr>
        <th scope="col">User Name</th>        
        <th scope="col">Role</th>
        <th scope="col">IP Address</th>
        <th scope="col">Login Time</th>
        <th scope="col">Logout Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users | paginate: config">
        <th scope="row">{{item.username}}</th>        
        <td>{{item.role}}</td>
        <td>{{item.ipAddress}}</td>
        <td>{{item.loginTime}}</td>
        <td>{{item.logoutTime}}</td>        
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>
